<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="Hadco.ComputerEase" connectionString="DRIVER={ComputerEase}; DBQ=\\DCS-SVR3\Hadco\const\data\0; uid=Redpepper;pwd=Pepper;"/>
      <add name="Destination" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Hadco.Data.HadcoContext;Integrated Security=True;"/>
	    <!--<add name="Hadco.ComputerEase" connectionString="DRIVER={ComputerEase}; DBQ=C:\Users\cpettingill\const\data\0; uid=Redpepper;pwd=Pepper;"/>
      <add name="Destination" connectionString="Server=hadco.database.windows.net;Database=Timers;User ID=hadcodbadmin@hadco;Password=F9A22C14-2A34-4EB5-ACDB-A6C8990895EB;Trusted_Connection=False;Encrypt=True;Connection Timeout=5600;"/>-->
    </connectionStrings>
  <appSettings>
    <add key="BulkCopyBatchSize" value="500"/>
    <add key="SychronizeMinutesDelay" value="1"/>
    <add key="LoggingEnabled" value="true"/>
    <add key="FullSynchronizationHourStart" value="11"/>
    <add key="FullSynchronizationHourEnd" value="22"/>
  </appSettings>
</configuration>