<div ng-show="occurrenceId == 'create'"><h3>Create Occurrence</h3></div>
<div ng-hide="occurrenceId == 'create'"><h3>Edit Occurrence</h3></div>
<form class="create-edit-user">
	<div class="row">
		<div class="columns small-6 end">
			<h4><input focus-me required ng-model='occurrence.name' placeholder='Name' type="text"></h4>
			<h4><input maxlength='1' focus-me required ng-model='occurrence.code' placeholder='Code' type="text"></h4>
		</div>
	</div>
	<div class="row">
		<div class="columns small-1 end">
			<button ng-click='saveOccurrence(occurrence)'>Save</button>
		</div>
		<div class="columns small-2 end">
			<a href="/admin/occurrences" class='button secondary'>Cancel</a>
		</div>
	</div>

</form>