<form>
	<h3>Update {{key}}</h3>
	<input ng-if="key === 'Password' || key === 'Pin'" focus-me required ng-model='user.password1' type='password' placeholder='New {{key}}...'>
	<input ng-if="key === 'Password' || key === 'Pin'" required ng-model='user.password2' type='password'  placeholder='Type {{key}} Again...'>
	<input ng-if="key === 'Username'" focus-me required ng-model='user.password1' type="text" placeholder='New {{key}}...'>
	<input ng-if="key === 'Username'" required ng-model='user.password2' type="text" placeholder='Type {{key}} Again...'>
	<input ng-if="key === 'Employee Name'" focus-me required ng-model='user.name' type="text" placeholder='Update {{key}}...'>

	<button class="button alert" ng-click="confirm(user)">Submit</button>
	<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</form>