		<!--<div class="small-4 columns">
			<input ng-model="datetime" datepicker-popup="MM/dd/yyyy" show-button-bar="false" value="dateValue" is-open="opened" ng-focus="opened = true" ng-click="opened = true" type="text">
		</div>
		<div class="small-5 columns end">
			<timepicker round-display="true" class="timepicker" mousewheel="false" ng-model="datetime" value="datetime"></timepicker>-->


			<!-- <input type="time" class="timepicker" value="shortTime" ng-model="datetime"></input> -->
		<!--</div>-->
