<hr />
<h4><i class="fa fa-caret-down" ng-click="hideLoads = !hideLoads" aria-hidden="true"></i> Job Timers</h4>
<div ng-if="!hideLoads" class="row">
    <div class="button-group columns small-12">
        <div class="row error-message" ng-show="showWarning">
            <small class="error columns small-5">Error: Job Timers + Overhead Time Exceed Clocked In Time</small>
        </div>
        <div ui-grid="concreteGridOptions"
                ui-grid-pinning
                ui-grid-tree-view
                ui-grid-resize-columns
                ui-grid-auto-resize
                class="grid"
                ng-style="gridTableHeight">
        </div>

        <!-- Hidden to allow for future implementation of this feature -->
        <button class="button primary" ng-hide="true" ng-click='addEmployeeJobTimer()'>Add New Job</button>
    </div>
</div>
